<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" IgnorableNamespaces="uap mp m2">
    <Identity Name="WpBlueBubbles" Publisher="CN=retiredlake" Version="0.3.1.2" />
  <mp:PhoneIdentity PhoneProductId="79f60ed4-a1a8-4791-bafd-03dd8f46c983" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BlueBubbles Beta</DisplayName><PublisherDisplayName>retiredlake</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.19041.0" /></Dependencies>
  <Resources><Resource Language="x-generate" /></Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WpBlueBubbles.App">
      <uap:VisualElements DisplayName="BlueBubbles Beta" Description="BlueBubbles for Windows" BackgroundColor="#0E639C" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="BlueBubbles Beta"><uap:ShowNameOnTiles><uap:ShowOn Tile="square150x150Logo"/><uap:ShowOn Tile="wide310x150Logo"/></uap:ShowNameOnTiles></uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0E639C" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.m4v</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>StorageItems</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <m2:Extension Category="windows.contact">
          <m2:Contact>
            <m2:ContactLaunchActions>
              <m2:LaunchAction Verb="message" DesiredView="useLess"><m2:ServiceId>telephone</m2:ServiceId></m2:LaunchAction>
              <m2:LaunchAction Verb="message" DesiredView="useLess"><m2:ServiceId>retiredlake.com</m2:ServiceId></m2:LaunchAction>
            </m2:ContactLaunchActions>
          </m2:Contact>
        </m2:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities><Capability Name="internetClient" /><Capability Name="privateNetworkClientServer" /><uap:Capability Name="contacts" /><uap:Capability Name="picturesLibrary" /><DeviceCapability Name="webcam" /></Capabilities>
</Package>
